@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  background-color: #440202;
}
.rhap_progress-filled {
  background-color: #990000;
  border-radius: 0px;
}
#cardStyle {
  clip-path: "polygon(34.9% 0, 100% 0, 100% 100%, 0 100%, 0 22.5%, 34.9% 22.5%)";
}
.rhap_progress-container {
  padding: 0px;
  margin: 0px;
}
.rhap_progress-bar {
  background-color: black;
  border-radius: 0px;
  height: 15%;
}
.rhap_controls-section {
  padding: 0px;
  margin: 0px;
  height: 28px;
}
.rhap_progress-indicator {
  display: none;
}
